*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:black;

overflow:hidden;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

font-family:Arial;

}

#matrix{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

z-index:-1;

}

.card{

width:520px;

padding:30px;

background:
rgba(
255,
255,
255,
0.05);

backdrop-filter:
blur(20px);

border-radius:20px;

border:
1px solid
rgba(
255,
255,
255,
0.2);

box-shadow:
0 0 25px
#00ff88;

}

h1{

color:#00ff88;

text-align:center;

margin-bottom:20px;

}
#suggested{
margin-top:10px;
color:#00ff88;
font-weight:bold;
word-break:break-all;
}

.inputBox{

position:relative;

}

input{

width:100%;

padding:16px;

padding-right:70px;

background:#111;

border:none;

border-radius:10px;

color:white;

font-size:18px;

}

#toggle{

position:absolute;

right:20px;

top:50%;

transform:
translateY(-50%);

cursor:pointer;

font-size:22px;

color:#00ff88;

}

.generator{

margin-top:15px;

}

button{

width:100%;

margin-top:15px;

padding:15px;

background:#00ff88;

border:none;

border-radius:10px;

font-weight:bold;

cursor:pointer;

}

.meter{

margin-top:20px;

height:18px;

background:#111;

border-radius:20px;

overflow:hidden;

}

#fill{

width:0;

height:100%;

transition:.5s;

}

h2{

margin-top:15px;

color:white;

}

#warning{

margin-top:10px;

font-weight:bold;

color:red;

}

.info{

margin-top:15px;

line-height:28px;

color:white;

}

.terminal{

margin-top:20px;

height:150px;

overflow:auto;

padding:15px;

background:black;

color:#00ff88;

border-radius:10px;

font-family:monospace;

}

.danger{

animation:
pulse .8s infinite;

}

@keyframes pulse{

0%{
box-shadow:
0 0 10px red;
}

50%{
box-shadow:
0 0 50px red;
}

100%{
box-shadow:
0 0 10px red;
}

}

